body {
    background: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.orange-text {
    color: #F66C41;
}

.content {
    width: 1000px;
    margin: 0 auto;

    padding: 105px 74px;

    background-image: url(../img/serious-person.jpg);
    background-repeat: no-repeat;
}

/* Header */

.header {
    height: 1136px;
}

.header-title {
    line-height: 85px;
    margin: 0;
    font-size: 70px;
}

.header-inner {
    width: 853px;
}


/* Main */

main {
    margin: 128px 0 90px 0;
}

.gray-text {
    color: #BCBBBB;
    margin: 0 0 90px 0;
}

.main-title {
    display: block;
    line-height: 85px;
    margin: 0 0 90px 0;

}

.ul-title {
    font-weight: 700;
    font-style: italic;
    margin: 0 0 20px 0;
}

.preparation {
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
}

.preparation li:before {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin-right: 8px;
    content: ' ';
    border-radius: 50%;
    padding: 0;
    margin: 0 20px;
}

.text-title {
    text-transform: uppercase;
    margin: 90px 0 20px 0;
    font-size: 70px;
    font-weight: 500;
}


/* Footer */

.footer-link {
    color: #F66C41;
    font-weight: 500;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
    border-bottom: 3px solid #F66C41;
}