* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background-color: gray;
    background: url('../image/main-background.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    margin: 0 auto;
    display: block;
}

.logo .logo_text {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

h2.title {
    margin-top: 30px;
}

.simple .title-big {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-top: 21px;
    text-transform: uppercase;
}

.promo .promo-text {
    padding: 0 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: #fff;
    margin-top: 23px;
}

.promo .promo-text span {
    color: #f9bf3b;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.promo .promo-btn, .bonuses .bonus-btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.bonuses .bonus-btn {
    margin: 52px auto;
}

.more{
    margin-top: 73px;
}

.more .more-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.more .more-img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting-header, .finish .finish-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.finish .finish-title {
    color: #efefef;
    font-weight: 400;
}

.waiting .waiting-divider, .finish .finish-divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting-subheader {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}

.waiting .waiting-wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting-wrapper .waiting-item {
    width: 339px;
    text-align: center;
}

.waiting .waiting-wrapper .waiting-img {
    width: 100%;
}

.waiting .waiting-wrapper .waiting-item .waiting-descr {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    color: #4a4a4a;
    margin-top: 33px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization-text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.59;
    color: #4a4a4a;
}

.optimization .optimization-text .bold-text {
    font-weight: 900;
}

.optimization .optimization-title {
    margin-left: 391px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization .optimization-img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background-image:url('../image/finish-background.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.finish .finish-wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
    width: 204px;
}

.finish .finish-wrapper .finish-item .finish-round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish-wrapper .finish-item .finish-descr {
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.18;
    color: #efefef;
    text-align: center;
}

.bonuses {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color:#efefef;
}

.bonuses .bonuses-img {
    display: block;
    margin: 0 auto;
}

.bonuses .bonuses-text {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.43;
    text-align: center;
    color: #252525;
    margin-top: 45px;
    font-weight: 400;
}

.first-webinar {
    padding: 82px 0 64px 0;
}

.first-webinar .first-webinar-img {
    display: block;
    margin: 0 auto;
}

.first-webinar .first-webinar-subheader {
    margin-top: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.first-webinar .first-webinar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #299cbd;
    margin-top: 30px;
}

.first-webinar .first-webinar-text {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 25px;
}

.footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.footer .footer-info{
    display: block;
}

.footer .footer-info {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #888;
}

.footer a {
    color: #888;
}

.contact {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact a {
    text-decoration: none;
}